<!DOCTYPE html>
<html lang="es">
<head>
			{% load static %}
      <title>Demo</title>
	    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta charset="utf-8" />
</head>

<body>
<div id="app">
  <p>[[ message ]]</p>
</div>
<p>VUE PoC</p>
<div id="app-2">
  <span v-bind:title="message">
    Hover mouse pointer over me for some seconds...
  </span>
</div>
<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      [[ todo.text ]]
    </li>
  </ol>
</div>
<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="application/javascript" src="{% static "mastermind.js" %}"></script>
</body>

</html>